<template>
    <div>
        <!--<h1 class="prez">Voici l'accueil</h1>-->
        <contenu></contenu>
    </div>

</template>

<script>
    import Contenu from './Contenu.vue'
    //import Header from './Header.vue'
    export default {
        name: "Accueil",
        components: {
            'contenu': Contenu
            // 'header-perso': Header
        }
    }
</script>

<style scoped>
    .prez{
        margin-top: 130px;
    }
</style>