<template>
<div class="header-top">
    <h1 class="d-inline mb-0">{{ titre }}</h1>
    <ul class="nav float-right">
        <li class="btn btn-primary btn-nav"><router-link to="/my-vuejs-project/" exact>Accueil</router-link></li>
        <li class="btn btn-primary btn-nav"><router-link to="/my-vuejs-project/blog">Blog</router-link></li>
        <li class="btn btn-primary btn-nav"><router-link to="/my-vuejs-project/meteo">App Météo</router-link></li>
    </ul>
</div>
</template>

<script>
    import {bus} from '../main'
    export default {
        name: "Header",
        data(){
            return {
                titre: 'Mon app Vue.js'
            }
        },
        beforeCreate(){
            console.log('Il va etre créé !');
        },
        created(){
            console.log('Le composant est créé !');
            bus.$on('changeTitre', (data)=>{
                this.titre= data
            })
        },
        beforeMount() {
            console.log('Il va etre monté dans le DOM !');
        },
        mounted() {
            console.log('Il est integré dans le DOM');
        },
        beforeUpdate() {
            console.log('Il va se mettre à jour');
        },
        updated() {
            console.log('Le composant s est mis à jour !');
        }
    }
</script>

<style scoped>
    .header-top {
        position: fixed;
        top: 0;
        background: linear-gradient(to right, #f8ffae,#43c6ac);
        width: 100%;
        /*height: 50px;*/
        /*background: #333;*/
        /*color: #f1f1f1;*/
        /*width: 100%;*/
        /*text-align: center;*/
        /*line-height: 50px;*/
        /*font-size: 25px;*/
    }
    .btn-nav {
        margin: 5px;
    }
    .btn-nav a {
        color: #fff;
    }
    .btn-nav a:hover {
        color: #fff;
    }
    .router-link-active {
        color: red;
    }
</style>