<template>

    <div>
        <p>
            Texte1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos dolorem pariatur repellendus! A ad alias atque aut commodi delectus deleniti deserunt, dignissimos dolores doloribus dolorum earum eligendi ex harum id impedit incidunt inventore, nam neque numquam obcaecati omnis praesentium quam, quod quos rem repellat suscipit tempore ullam ut vel.
        </p>
    </div>

</template>

<script>
    export default {
        name: "Texte1"
    }
</script>

<style scoped>

</style>